@charset "UTF-8";

body {
    margin: 0;
}

canvas {
    background-color: rgba(239, 239, 239, 1);
    border-bottom: 1px solid rgba(51, 51, 51, 1);
    width: 100%;
    max-height: 515px;
}

header {
    background-color: rgba(51, 51, 51, 1);
    display: block;
    width: 100%;
}

header h1 {
    color: rgba(255, 255, 255, 1);
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

button {
    font-size: 20px;
    font-weight: bold;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    height: 3em;
    width: 3em;
    line-height: 2em;
    border: 1px solid;
    border-radius: 8px;
    margin: 0.2em 1em 0;
    background-color: rgba(255, 243, 213, 1);
}

button:hover {
    background-color: rgba(231, 221, 194, 1);
}

#app {
    width: 100%;
    height: auto;
}

#ui {
    width: 100%;
}

#singleLine, #closedForm, #clearCanvas {
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999px;
}

#singleLine {
    background-image: url("../images/icons/singleLine.gif");
}

#closedForm {
    background-image: url("../images/icons/closedForm.gif");
}

#clearCanvas {
    background-image: url("../images/icons/clearCanvas.gif");
}

#version {
    font-family: "Courier New", Courier, monospace;
    font-size: 9px;
    padding: 10px 5px;
}

#version a:link {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}